@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Poppins:ital,wght@1,700;1,900&display=swap');
.row{
    justify-content: center;
    font-family: cursive;
}

.Top
{
    
    text-decoration: none;
    color: rgb(31, 31, 31);
    background-color: rgb(49, 49, 49);
    padding:5px;
    position:fixed;
    bottom:0;
    right:0;
    font-size: 1.5rem;

}
.lead{
    opacity: 1;
    color: rgb(27, 27, 27);
    
}

.hing{
    text-shadow: 2px 2px 5px rgb(53, 53, 53);
    
}
body{
    animation:bod 8s ease-in-out 0s infinite normal;
}
.container{
    
   background-image:url('us1.jpg');
   background-size: cover;
   padding:30px 30px;
   border-radius: 10px;
   box-shadow:0px 0px 25px 10px rgb(36, 36, 36);
   background-size: cover;
}
.col-md-4{
    transition:transform 0.2s ease-in-out;
    
}
.card-mb-4-box-shadow{
    background: white;
}

.col-md-4:hover{
   transform: scale(1.05);
}

.logo{
    width:40px;
    height:40px;
    float:right;
    border-radius: 400px;
 }
.container .head1{
    color: rgb(1, 29, 20);
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 60px;
    font-size: xx-large;
}
.social{
     margin-right: 100px;
}
.social i{
    font-size: 30px;
    color:rgb(29, 204, 207);
    padding:0px 10px;
}

.social i:hover{
    color:rgb(133, 211, 241)
}
@keyframes bod{
    0%{background: rgb(245, 245, 245);}
    25%{background:rgb(185, 185, 185) ;}
    50%{background: rgb(142, 143, 141);}
    100%{background: rgb(216, 216, 216);}
}